.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}
body{
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  user-select: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
.login-view{
  background-color: rgba(255,255,255,0.7);
  width: 30%;
  height: 250px;
  position: absolute;
  overflow: hidden;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-width: 400px;
}
.login-background{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.login-img{
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.login-title-view{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%; 
  margin: 20px; 
  margin-top: 40px;
}
#login-btn-view{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  position: absolute; 
  bottom: 0;
  width: 100%;
}
.login-btn{
  font-size: 1.5vw;
  margin: 50px;
  cursor: pointer;
  transition: 1s;
  font-weight: 500;
}
.login-btn:hover{ 
  color: white;
}
#login-signin{
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  left: 50vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
#login-signup{
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0; 
  opacity: 0.8;
  right: 50vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.input-app-inside{ 
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center; 
}
.button-app{
  margin: 10px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-weight: bold; 
}
.MuiInput-underline:after{
  border-bottom: 2px solid black !important;
  } 
  .signup-form{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .signup-form-inside{
    width: 60%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
  }
  .main-view{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%; 
  }
  .main-slider-view{
    width: 100%;
    height: 200px;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
  }
  .pagination-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;   
  }
  .pagination-view-page{
    flex-grow: 1;
    height: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .MuiPaginationItem-root{
    color: wheat !important;
  }
  .pagination-view-page-inside{
    flex-grow: 1;
    color: wheat;
  }
  .add-book-view{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: absolute;
    bottom: 150px; 
    overflow: visible; 
  } 
  .add-book-btn {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: absolute;
    bottom: 150px; 
    overflow: visible;
    animation: bump 3s linear 0s infinite normal;
  } 
   
    @keyframes bump {
      0% {
          top: 0;
      }
      5% {
          top: 5px;
      }
      10% {
          top:0;
      }
      100% {
          top:0;
      }
    }
    .modal-view{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      position: absolute;
      z-index: 9999;
    }
    .modal-view-inside{
      width: 300px;
      height: 260px;
      background-color: rgba(255,255,255,0.9);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      z-index: 99999;
    }
    .modal-view-form{
      width: 100%;
      /* height: 100%; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 

    }
    .upload-image-view{ 
      width: 100%; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
    }